.block{
  background-color: antiquewhite;
  width: 300px;
}

.title {
  text-align: center;
  padding: 30px;
  color: rgb(142, 71, 157);
  margin: 0 auto;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.label{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.input{
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.button{
  border: none;
    border-radius: 5px;
    padding: 6px 10px;
}