.contacts {
  margin: 15px 0;
  text-align: center;
}

.form{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.label{
  text-align: center;
    display: flex;
    flex-direction: column;
}

.input {
  margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
