.title {
  margin: 15px 0;
  text-align: center;
}

.boxInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.label{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.addContact {
  margin-top: 25px;
  background-color: rgba(1, 1, 255, 0.281);
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
}
