.list{
  padding: 0 10px;
  padding-bottom: 20px;
  display: grid;
  gap: 20px;
}

.item{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.name{
  color: indigo;
  font-size: 14px;
}

.button{
  margin-left: 20px;
  background-color: rgba(1, 1, 255, 0.281);
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
}